.title {
	font-family: "ÂçéÊñá‰∏?ÂÆ?";
	font-size: 16px;
	line-height: 32px;
	font-weight: bold;
}
.txt14 {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	line-height: 28px;
	/*font-weight: bold;*/
}
.txt12 {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 20px;
	color: #FFFFFF;
}
