.bottom {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 24px;
	color: #FFFFFF;
}
.left {
	font-family: "Times New Roman", "Times", "serif";
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}